ENVIRONMENT=staging
JWT_ISSUER=https://auth.codestra.co/realms/codestra
JWT_JWKS_URL=https://auth.codestra.co/realms/codestra/protocol/openid-connect/certs
JWT_AUDIENCE=codestra-provisioning-service
JWT_EXPECTED_AZP=codestra-provisioning-service-staging
JWT_ALLOWED_CLIENTS=codestra-provisioning-service-staging
JWT_REQUIRED_SCOPES=identity:rotate provisioning:execute provisioning:read
JWT_MAX_TOKEN_TTL_SECONDS=300
JWT_ALGORITHMS=RS256
SIP_BROWSER_CAMPAIGN=TEST_SYN
SIP_BROWSER_ENDPOINT=6101
